.table-section {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  padding: 30px 0;
  width: 100%;
}

.table-data {
  text-align: center;
}

.edit-button {
  background-color: rgb(3, 3, 158);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
}

.edit-button:hover {
  background-color: rgb(78, 78, 255);
}

.delete-button {
  background-color: red;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.delete-button:hover {
  background-color: tomato;
}

th {
  padding-bottom: 20px;
}

td {
  padding-top: 5px;
}
